<app-publicidad-modal/>
<div class="w-full bg-[url(https://res.cloudinary.com/dt86tk7ed/image/upload/v1751924486/aula-virtual-cefoesp/WhatsApp_Image_2025-03-09_at_13.15.40_0fd67d2f_pxzuo1.jpg)] bg-cover bg-center min-h-screen ">
<div class="flex flex-col justify-center md:ml-40 absolute md:w-[80%] min-h-screen p-4">
    <h1 class="mt-56 lg:mt-33 xl:mt-42 text-7xl font-semibold text-black ">CEFOESP</h1>
    <h1 class="text-7xl font-semibold text-black ">Seguridad Superior SAC</h1>
<button routerLink="/cursos" class="btn bg-[#163168] text-white w-[35%]  md:w-[15%] mt-6 hover: bg-[#214a9d]">Ver Cursos</button>
</div>
</div>