<div class="flex flex-col justify-center relative mt-49 md:mt-33 w-full min-h-screen">
    <h1 class="text-center text-5xl font-semibold  mt-4 mb-10  bg-black text-white p-4">TESTIMONIOS VISUALES</h1>
    <div class="">
        <h1 class="p-2 font-semibold text-xl text-center">ESTAS SON ALGUNAS IMAGENES DE NUESTRAS CAPACITACIONES</h1>

        <div class="grid grid-cols-1  md:grid-cols-3 gap-4 place-items-center mt-4">
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752160718/aula-virtual-cefoesp/IMG-CEFOESP/WhatsApp-Image-2025-01-09-at-14.21.35_c1ada269_1_omrk2i.jpg" alt="basico" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Formacion Basica </p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752160718/aula-virtual-cefoesp/IMG-CEFOESP/WhatsApp-Image-2025-01-09-at-14.29.49_378c9a83_cxkohl.jpg" alt="apurimac" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Presencial</h2>
                    <p>Curso Desarrollado en el departamente de Apurimac</p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752085108/aula-virtual-cefoesp/IMG-CEFOESP/curso-formacion_mtxxkq.jpg" alt="perfeccionamiento" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Perfeccionamiento</p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161332/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-05-24_083004_bzp37y.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Perfeccionamiento</p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161332/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-05-24_082927_otrknv.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Formacion Basica </p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161332/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-03-21_114932_acxav7.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Formacion Basica </p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161332/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-04-16_152141_psxv2v.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Formacion Basica </p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161332/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-04-16_152319_podioi.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Perfeccionamiento</p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161333/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-04-29_082652_t97qn2.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Perfeccionamiento</p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161333/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-05-24_082832_heeqmh.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Formacion Basica </p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161333/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-05-24_083027_g728qw.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Perfeccionamiento</p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161333/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-03-20_074942_k8qr7n.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Formacion Basica </p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161333/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-03-27_144935_tr7fno.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Formacion Basica </p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure>
                    <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752161333/aula-virtual-cefoesp/IMG-CEFOESP/Captura_de_pantalla_2024-03-07_080926_vlkxpb.png" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Modalidad Online</h2>
                    <p>Curso de Perfeccionamiento </p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="join  flex justify-center p-4">
        <input class="join-item btn btn-square" type="radio" name="options" aria-label="1" checked="checked" />
        <input class="join-item btn btn-square" type="radio" name="options" aria-label="2" />
        <input class="join-item btn btn-square" type="radio" name="options" aria-label="3" />
        <input class="join-item btn btn-square" type="radio" name="options" aria-label="4" />
    </div>

</div>