<div class="flex flex-col justify-center relative w-full min-h-screen">
    <h1 class="text-center text-5xl font-semibold mt-48  md:mt-33  md:mb-10  bg-black text-white p-4">CURSOS</h1>
    <div class="flex flex-col md:flex-row justify-center">
        <div class="w-full md:w-[45%]">
            <h1 class="font-bold text-xl  p-2">Bienvenido a nuestra plataforma de formación especializada para el
                personal de seguridad y vigilancia privada.</h1>
            <p class="text-black font-semibold text-lg p-2 ">

                En nuestra empresa, entendemos la importancia de contar con profesionales altamente capacitados y
                actualizados
                en el mundo de la seguridad. Por ello, ofrecemos cursos de formación básica y perfeccionamiento,
                totalmente
                avalados por SUCAMEC (Superintendencia Nacional de Control de Servicios de Seguridad, Armas, Municiones
                y
                Explosivos de Uso Civil) en Perú.

            </p>
            <p class="text-black font-semibold text-lg p-2 ">Nuestros cursos virtuales están diseñados para brindarte
                las herramientas necesarias para enfrentar los
                desafíos
                del sector, desarrollando competencias tanto en aspectos técnicos como en normativas legales. Ya seas un
                nuevo
                ingreso al campo de la seguridad o un profesional experimentado que busca actualizarse, nuestros
                programas te
                permitirán optimizar tu desempeño y mejorar la calidad de tu labor.</p>

            <p class="text-black font-semibold text-lg p-2 ">A continuación, te presentamos los detalles de cada curso,
                para que puedas elegir el que mejor se adapte
                a tus
                necesidades y objetivos profesionales.</p>
        </div>
        <div class=" w-full md:w-[45%] hidden md:block">
            <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752085108/aula-virtual-cefoesp/IMG-CEFOESP/curso-formacion_mtxxkq.jpg"
                alt="">
        </div>
    </div>

    <div class="flex flex-col items-center md:flex-row md:justify-center mt-10 gap-2 mb-10 ">
        <div class="w-[95%]  md:w-[45%] card bg-base-100 shadow-2xl  hover:cursor-pointer ">
            <figure>
                <img class="rounded-xl" src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752021035/aula-virtual-cefoesp/IMG-CEFOESP/dc3ad26b-b8c5-4670-981a-1f877d60eb0d_f5b9bk.png" alt="basico" />
            </figure>
            <div class="card-body   ">
                <p class="text-lg">El curso está dirigido a los aspirantes que desean laborar en el rubro de seguridad. Asimismo, para
                    personal de seguridad que su curso haya vencido por más de dos años desde su habilitación.</p>
                <p class="mt-2 card-title text-left">Este curso se desarrolla en 60 horas académicas y son los siguientes:</p>
                <ul class="list-none mt-2">
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>CONSTITUCION Y DERECHOS HUMANOS</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>LEGISLACION Y SEGURIDAD PRIVADA</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>CONOCIMIENTO DE SISTEMAS DE ALARMAS Y COMUNICACIONES</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>CONTROL DE LA EMERGENCIA Y SEGURIDAD DE INSTALACIONES</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>ARMAS: CONOCIMIENTO Y MANIPULACION</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>DEFENSA PERSONAL</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>ATENCION AL USUARIO E IDENTIFICACION DE PERSONAS</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>PRIMEROS AUXILIOS</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>ETICA EN SEGURIDAD PRIVADA</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>REDACCION Y ELABORACION DE DOCUMENTOS</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>NORMAS Y PROCEDIMIENTOS DE SEGURIDAD</span>
                    </li>
                </ul>
                <div class="mt-auto"></div>
                <div class="w-full mt-6 bg-blue-900 rounded-sm p-4">
                    <p class="font-bold text-white text-xl">FECHAS PROXIMAS</p>
                    <P class="text-yellow-300 text-lg font-semibold"><span class="font-bold text-white">INICIO:</span>
                        {{horario.fechaCursoBasico.INICIO}}</P>
                    <P class="text-yellow-300 text-lg font-semibold"><span class="font-bold text-white">FIN:</span>
                        {{horario.fechaCursoBasico.FIN}}</P>
                    <P class="text-yellow-300 text-lg font-semibold"><span class="font-bold text-white">HORARIO:</span>
                        {{horario.fechaCursoBasico.HORARIO}}</P>
                </div>
            </div>

        </div>
        <div class="w-[95%] md:w-[45%] card bg-base-100 shadow-2xl  hover:cursor-pointer ">
             <figure>
                <img class="rounded-xl" src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752021056/aula-virtual-cefoesp/IMG-CEFOESP/4c4ac639-9e0a-41c8-8a70-b7246d122e92_xhbohx.png"
                    alt="">
            </figure>
            <div class="card-body    ">
                <p class="text-lg">EL CURSO PERFECCIONAMIENTO SUCAMEC va dirigido al Personal de Seguridad que tienen su curso
                    Sucamec
                    vencido o por vencer, en un plazo no mayor a 02 años. Tiene una vigencia de 02 años.</p>
                <p class="mt-2 card-title text-left">El curso se desarrolla en 35 horas académicas y son los siguientes:</p>
                <ul class="list-none mt-2">
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>LEGISLACION Y SEGURIDAD PRIVADA</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>CONOCIMIENTO DE SISTEMAS DE ALARMAS Y COMUNICACIONES</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>CONTROL DE LA EMERGENCIA Y SEGURIDAD DE INSTALACIONES</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>ARMAS: CONOCIMIENTO Y MANIPULACION</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>DEFENSA PERSONAL</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>ATENCION AL USUARIO E IDENTIFICACION DE PERSONAS</span>
                    </li>
                    <li class="flex items-center space-x-2">
                        <svg class="w-4 h-4 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        <span>PRIMEROS AUXILIOS</span>
                    </li>

                </ul>
                <div class="w-full bg-blue-900   rounded-sm p-4 mt-10 ">
                    <p class="font-bold text-white text-xl">FECHAS PROXIMAS</p>
                    <P class="text-yellow-300 text-lg font-semibold"><span class="font-bold text-white">INICIO:</span>
                        {{horario.fechaCursoPerfeccionamiento.INICIO}}</P>
                    <P class="text-yellow-300 text-lg font-semibold"><span class="font-bold text-white">FIN:</span>
                        {{horario.fechaCursoPerfeccionamiento.FIN}}</P>
                    <P class="text-yellow-300 text-lg font-semibold"><span class="font-bold text-white">HORARIO:</span>
                        {{horario.fechaCursoPerfeccionamiento.HORARIO}}</P>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center mb-10">
        <div class="w-full md:w-[45%]">
            <h1 class="font-bold text-xl  p-2">CEFOESP ENTREGA CERTIFICADO PARA QUE POSTULES EN CUALQUIER EMPRESA DE
                SEGURIDAD Y VIGILANCIA PRIVADA A NIVEL NACIONAL.</h1>
            <p class="text-black font-semibold text-lg p-2 ">

                Al finalizar con éxito tu curso, recibirás un certificado oficial avalado por SUCAMEC, que valida
                tu capacitación en el área de seguridad y vigilancia privada. Este certificado te permitirá contar con
                la acreditación necesaria para ejercer en el sector de seguridad a nivel nacional, asegurando que tu
                formación cumple con los estándares requeridos para desempeñarte en empresas del rubro.

            </p>
        </div>
        <div class="w-full md:w-[45%]">
            <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752089666/aula-virtual-cefoesp/IMG-CEFOESP/CERTIFICADO-MARCAAGUA_xdkvo7.png"
                alt="">
        </div>
    </div>



</div>