<div class="flex flex-col justify-center relative mt-43  md:mt-33 w-full min-h-screen">
    <h1 class="text-center text-5xl font-semibold  mt-4 mb-10  bg-black text-white p-4">CONOCENOS</h1>
    <div class="flex flex-col md:flex-row w-full justify-center" #conocenos>
        <div class="w-full md:w-[40%]">
            <h1 class="bg-sky-500 text-white font-semibold text-2xl p-2 text-center">¿Quienes Somos?</h1>
            <p class="text-black p-4 tracking-wider text-lg">CEFOESP SEGURIDAD SUPERIOR SAC, es un Centro de Formación y
                Especialización en Seguridad Privada,
                dedicada a la formación profesional en Seguridad Privada dentro del marco legal, ofrecemos cursos de
                capacitación especializados a nivel nacional, enfocados en brindar educación de calidad, práctica y
                actualizada, preparando a nuestros participantes para enfrentar los retos dentro del ámbito de la
                Seguridad Privada.</p>
        </div>
        <div class="w-full md:w-[40%]">
            <img src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752010123/aula-virtual-cefoesp/IMG-CEFOESP/cefoesp-capacitacion_e03kuj.jpg"
                alt="">
        </div>
    </div>
    <div class="flex flex-col md:flex-row w-full justify-center mt-10" #mision>
        <div class="w-full md:w-[40%] order-last md:order-first ">
            <img class="w-full h-90"
                src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752018807/aula-virtual-cefoesp/IMG-CEFOESP/45293664-c88a-46f8-9973-199130b9d10a_kiur9x.png"
                alt="">
        </div>
        <div class="w-full md:w-[40%]">
            <h1 class="bg-blue-500 text-white font-semibold text-2xl p-2 text-center">MISIÓN</h1>
            <p class="text-black p-4 tracking-wider text-lg">Impartir una Educación de calidad con el objeto de proporcionar los
                conocimientos tanto teóricos y prácticos, para el Aspirante, Personal de Seguridad y se puedan
                desempeñar en el ámbito de la Seguridad Privada con un nivel de profesionalismo, teniendo su herramienta
                de trabajo el conocimiento.</p>
        </div>
    </div>
    <div class="flex flex-col md:flex-row w-full justify-center mt-10" #vision>
        <div class="w-full  md:w-[40%]">
            <h1 class="bg-green-500 text-white font-semibold text-2xl p-2 text-center">VISIÓN</h1>
            <p class="text-black p-4 tracking-wider text-lg">Ser la institución líder en capacitación a nivel nacional en el ámbito de la Seguridad Privada.</p>
        </div>
        <div class="w-full  md:w-[40%] ">
            <img class="w-full h-90"
                src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752018790/aula-virtual-cefoesp/IMG-CEFOESP/946f9fbb-fcff-484f-9721-c94df0562dfe_wqried.png"
                alt="">
        </div>

    </div>
    <div class="flex flex-col md:flex-row w-full justify-center mt-10 mb-10" #mision>
        <div class="w-full  md:w-[40%] order-last md:order-first ">
            <img class="w-full h-90"
                src="https://res.cloudinary.com/dt86tk7ed/image/upload/v1752019269/aula-virtual-cefoesp/IMG-CEFOESP/715a89e5-8326-4b09-a752-f2ae8c1c995c_sf4nem.png"
                alt="">
        </div>
        <div class="w-full  md:w-[40%]">
            <h1 class="bg-cyan-500 text-white font-semibold text-2xl p-2 text-center">ACREDITACIÓN</h1>
            <p class="text-black p-4 tracking-wider text-lg">Somos Centro de Formación y Especialización en Seguridad Privada, reconocida por SUCAMEC.</p>
        </div>
    </div>
</div>